Package: fbclive-graphics
Version: 1.0.0.__datestamp__
Architecture: all
Maintainer: Dave Bevan <dave.bevan@fbc.org.uk>
Depends: chromium-kiosk
Section: web
Priority: optional
Installed-Size: 1000
Description: FBCLive Graphics kiosk config
